body {
    margin: 0;
    padding: 0;
    
  }

.header {
    width: 100%;
    height: 3vh;
    background-color: rgb(21,36,57);
    text-align: right;
    
}

.nav-bar {
    width: 70%;
    height: 5vh;
    border-radius: 15px;
    background-color: rgb(32,54,88);
    text-align: left;
    border: 3px solid rgb(78,87,101);
    margin: 0 auto;
    font-size: xx-large;
    position: relative;
}


.nav-bar
a {
    text-decoration: none;
    color: rgb(165,185,198);
    
}

.nav-bar
a:hover {
    color: white;
    
}

.nav-bar

li {
    display: inline;
    font-size: larger;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: flex-start;
}
.title {
   
    width: 70%;
    margin: 0 auto;
}

.screenshots {
    width: 70%;
    margin: 0 auto;
}

.wallpapers {
    width: 70%;
    margin: 0 auto;
}

.wallpapers-2 {
    width: 70%;
    margin: 0 auto;
}